<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="AccessDb_Context" connectionString="Data Source=DELLCONTROLACC;Initial Catalog=Sis.Access;user id=sqlexport;password=sqlexport1234.;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="MailMessageFromEmail" value="elio@tss.com.ar" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MailMessageFromName" value="Elio Mussini" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MailMessageToEmail" value="elio@tss.com.ar;scrodriguez@vialidad.gob.ar" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>