<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="AccessDb_Context" connectionString="Data Source=LDHOME-PC\SQLEXPRESS;Initial Catalog=Sis.Access_dev;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="SIS.ControlPanel_Context" connectionString="Data Source=LDHOME-PC\SQLEXPRESS;Initial Catalog=SIS.ControlPanel_dev;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="MailMessageFromEmail" value="mribichich@tss.com.ar" />
    <add key="MailMessageFromName" value="Matias Ribichich" />
    <add key="MailMessageToEmail" value="guli4073@gmail.com" />
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>